<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生新加</title>
</head>
<body>
    <h1>学生新加</h1>
    <form action="stuadd" method="post">
        <table>
            <tr>
                <td>学号:</td><td><input name="sid"></td>
            </tr>
            <tr>
                <td>姓名:</td><td><input name="sname"></td>
            </tr>
            <tr>
                <td>性别:</td><td><input name="sex" type="radio" value="男" checked>男<input name="sex" type="radio" value="女">女</td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="提交"></td>
            </tr>
        </table>
    </form>
</body>
</html>