<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="|${#request.getContextPath()}/|">
    <meta charset="UTF-8">
    <title>学生详情</title>
</head>
<body>
    <h1>学生详情</h1>
    <a href="stutoadd">去新加</a>
    <a href="stuquery">去查询</a>
    <form action="stumod" method="post">
        <table>
            <tr>
                <td>学号:</td><td><input name="sid" readonly th:value="${s.sid}"></td>
            </tr>
            <tr>
                <td>姓名:</td><td><input name="sname" th:value="${s.sname}"></td>
            </tr>
            <tr>
                <td>性别:</td><td><input name="sex" type="radio" value="男" th:checked="${s.sex}=='男'">男
                <input name="sex" type="radio" value="女" th:checked="${s.sex}=='女'">女</td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="提交"></td>
            </tr>
        </table>
    </form>
</body>
</html>